.header {
    margin: 2em;
}

.field {
    margin: 2rem;
}

.product-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
//     :first-child {
//         width: 30%;
//     }
//     :nth-child(2) {
//         width: 40%;
//     }
//     :nth-child(3) {
//         width: 30%;
//     }
}